<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Cute Pets</div>
        </div>
        <div class="collapse navbar-collapse"> <!-- may change? -->
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/ash">Ash</a></li>
                <li class="dropdown">
                    <a 
                        class="dropdown-toggle" 
                        role="button"
                    >Kitties <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Shay</a></li>
                        <li><a href="#">Beachy</a></li>
                        <li><a href="#">Riku</a></li>
                    </ul>
                </li>
                <li><a href="#">In Memoriam</a></li>
                <li><a href="#">More Pets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>