<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand"><a routerLinkActive="active" routerLink="/home">Cute Pets</a></div>
        </div>
        <div class="collapse navbar-collapse"> <!-- may change? -->
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/ash">Ash</a></li>
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;"
                        class="btn dropdown-toggle" 
                        role="button"
                    >Kitties <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/shay">Shay</a></li>
                        <li><a routerLink="/beachy">Beachy</a></li>
                        <li><a routerLink="/riku">Riku</a></li> <!-- FIX this dropdown! -->
                    </ul>
                </li>
                <li routerLinkActive="active"><a routerLink="/in-memoriam">In Memoriam</a></li>
                <li routerLinkActive="active"><a routerLink="/more-pets">More Pets</a></li>
                <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>