<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <div class="navbar-brand"><a routerLinkActive="active" routerLink="/home">Cute Pets</a></div>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/ash">Ash</a></li>
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;"
                        class="dropdown-toggle" 
                        role="button"
                    >Kitties <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/shay">Shay</a></li>
                        <li><a routerLink="/beachy">Beachy</a></li>
                        <li><a routerLink="/riku">Riku</a></li> 
                    </ul>
                </li>
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;"
                        class="dropdown-toggle" 
                        role="button"
                    >Snakes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="snakes/ari">Ari</a></li>
                        <li><a routerLink="snakes/cookie">Cookie</a></li>
                        <li><a routerLink="snakes/mykonos">Mykonos</a></li> 
                        <li><a routerLink="snakes/aurelia">Aurelia</a></li>
                        <li><a routerLink="snakes/devo">Devo</a></li>
                        <li><a routerLink="snakes/saturn">Saturn</a></li> 
                    </ul>
                </li>
                <li routerLinkActive="active"><a routerLink="/in-memoriam">In Memoriam</a></li>
                <li routerLinkActive="active"><a routerLink="/more-pets">More Pets</a></li>
                <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>