<div class="container-fluid">
    <div class="row">   
      <div class="col-md-7">
        <img 
            src="https://i.imgur.com/2cWOvu4l.jpg" 
            class="img-rounded img-responsive">
      </div>
      <div class="col-md-7"><h3>Riku</h3></div>
      <div class="col-md-7">
        {{ rikuInfo.name | titlecase }} ... <br>
        {{ rikuInfo.nicknames | titlecase }} ... <br>
        {{ rikuInfo.age | titlecase }} ... <br>
        {{ rikuInfo.gender | titlecase }} ... <br>
        {{ rikuInfo.favs | titlecase }} ... <br>
      </div>
    </div> 
</div>